.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .cart-widget-container {
    display: flex;
    align-items: center;
    padding-right: 40px;
  }
  